.registration-wrapper
  = render "registration-header"
  .registration-contents
    %h2.single-head.bolb
      電話番号の確認
    = form_with model: @user, local: true, url: step3_signup_index_path, method: 'GET', class: 'registration-form' do |f|
      .registration-form__content
        = f.label :phone_number, class: 'registration-form__content__sub-head bolb' do
          携帯電話の番号
        - if @user.errors.full_messages_for(:phone_number).any?
          = f.text_field :phone_number, placeholder: "携帯電話の番号を入力", class: 'input-text-field'
        - else
          = f.text_field :phone_number, placeholder: "携帯電話の番号を入力", class: 'input-text-field'
        = render partial: 'error-message', locals: { user: @user, column: "phone_number" }
        %p
          本人確認のため、携帯電話のSMS(ショートメッセージサービス)を利用して認証を行います。
        = f.submit value: "次へ進む", class: 'submit-btn'
        %p
          ※電話番号は本人確認や不正利用防止のために利用します。他のユーザーに公開されることはありません。
        %p.text-right
          = link_to "#" do
            本人情報の登録について
            = icon 'fas', 'chevron-right'
  = render "/shared/sub-footer"
