= render 'show/main_header'
.box
  - breadcrumb :identity
  = breadcrumbs separator: " &rsaquo; "
.mypage-wrapper
  = render 'mypage-side-bar'
  .mypage-main
    %h2.chapter-head.bolb
      本人情報の登録
    %form.single-contents
      %p
        お客さまの本人情報をご登録ください。
        %br
        登録されたお名前・生年月日を変更する場合、本人確認書類の提出が必要になります。
      %p.text-right
        = link_to "#" do
          本人確認書類のアップロードについて
          = icon 'fas', 'chevron-right'
      .single-contents__content
        %label.bolb
          お名前
        %p
          メルカリ花子
      .single-contents__content
        %label.bolb
          お名前カナ
        %p
          メルカリハナコ
      .single-contents__content
        %label.bolb
          生年月日
        %p
          YYYY/MM/DD
      .single-contents__content
        %label.bolb
          郵便番号
        %span.form-arbitrary
          任意
        %input{ name: "zip-code", type: "text_field", placeholder: "例) 1234567", class: "input-text-field" }
      .single-contents__content
        %label.bolb
          都道府県
        %span.form-arbitrary
          任意
        .select-wrap
          = icon 'fas', 'chevron-down'
          %select{ name: "prefecture", class: "select" }
            %option --
            %option 北海道
            // active_hashの利用はコンフリクトの発生を考慮して出品ページの完了後に実装
      .single-contents__content
        %label.bolb
          市区町村
        %span.form-arbitrary
          任意
        %input{ name: "city", type: "text_field", placeholder: "例) 横浜市緑区", class: "input-text-field" }
      .single-contents__content
        %label.bolb
          番地
        %span.form-arbitrary
          任意
        %input{ name: "address1", type: "text_field", placeholder: "例) 青山1−1−1", class: "input-text-field" }
      .single-contents__content
        %label.bolb
          建物名
        %span.form-arbitrary
          任意
        %input{ name: "address2", type: "text_field", placeholder: "例) 柳ビル103", class: "input-text-field" }
      %input{ type: "submit", value: "登録する", class: "submit-btn" }
      %p.text-right
        = link_to "#" do
          本人情報の登録について
          = icon 'fas', 'chevron-right'
= render 'show/main_footer'
