.registration-wrapper
  = render "shared/sub-header"
  .login-panel
    .login-panel__account
      アカウントをお持ちでない方はこちら
      = link_to '新規会員登録', step1_signup_index_path, class: 'submit-btn'
    .login-panel__contents
      .login-panel__contents__content
        = link_to user_facebook_omniauth_authorize_path, method: :post, class: 'facebook-login' do
          Facebookでログイン
          = icon 'fab', 'facebook-square'
      .login-panel__contents__content
        = link_to user_google_oauth2_omniauth_authorize_path, method: :post, class: 'google-login' do
          googleでログイン
          = icon 'fab', 'google'
      .login-panel__contents__text-filed
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          = f.email_field :email, autofocus: true, placeholder: "メールアドレス",  autocomplete: "email", class: "input-text-field"
          = f.password_field :password, placeholder: "パスワード", autocomplete: "current-password", class: "input-text-field"

          // reCAPCHA挿入位置

          = f.submit "ログイン", class: "submit-btn"
      %p
        = link_to "パスワードをお忘れの方", "#"
  = render "shared/sub-footer"
