.registration-wrapper
  = render "/shared/sub-header"
  %h2.single-head.bolb
    購入内容の確認
  .purchase-main
    .purchase-main__buy-item
      .inner-box
        = image_tag @item.images[0]
        .inner-box__right
          %p
            #{ @item.item_name }
          %p.bolb
            ￥#{ @item.price }（税込み）
            - if @item.postage == '送料込み(出品者負担)'
              送料込み
            - else
              着払い
    .purchase-main__content
      .inner-box
        .inner-box__left.bolb
          %p
            支払い金額
        .inner-box__right.bolb.pay
          ￥#{ @item.price }
      %input{ type: "checkbox", id: "point" }
      %label{ for: "point" }
        ポイントを使用(所持ポイント:P0)
    .purchase-main__content
      .inner-box
        .inner-box__left.bolb
          配送先
        .inner-box__right
          = link_to "変更する", "#"
      %p
        〒 #{ @address.zip_code }
        %br
        #{ @address.prefecture.name + @address.city + @address.block + @address.building }
        %br
        #{ @address.family_name + @address.first_name }
    .purchase-main__content
      %p.bolb
        支払い方法
      %p
        = image_tag 'jcb.svg', width: '26', height: '20', alt: 'jcb'
        %br
        = "**** **** **** " + @default_card_information.last4
        %br
        - exp_month = @default_card_information.exp_month.to_s
        - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
        = exp_month + " / " + exp_year
    = form_with model: @purchase, url: pay_item_purchase_index_path, method: :post, class: 'inner-box', loclal: true do |f|
      = f.submit '購入する', class: 'submit-btn'
  = render "/shared/sub-footer"
