.registration-wrapper
  = render "/shared/sub-header"
  %h2.single-head.bolb
    購入内容の確認
  .purchase-main
    .purchase-main__buy-item
      .inner-box
        = image_tag 'text_netabare_chuui.png'
        .inner-box__right
          %p
            商品名
          %p.bolb
            ￥8,000（税込み）送料込み
    .purchase-main__content
      .inner-box
        .inner-box__left.bolb
          %p
            支払い金額
        .inner-box__right.bolb.pay
          ￥8,000
      %input{ type: "checkbox", id: "point" }
      %label{ for: "point" }
        ポイントを使用(所持ポイント:P0)
    .purchase-main__content
      %p.bolb
        支払い方法
      %p
        = link_to "#" do
          = icon 'fas', 'plus-circle', class: 'link-icon'
          登録してください
    .purchase-main__content
      .inner-box
        .inner-box__left.bolb
          配送先
        .inner-box__right
          = link_to "変更する", "#"
      %p
        〒163-8001
        %br 東京都新宿区西新宿２丁目８−１
        東京都庁
    .inner-box
      %input{type: "submit", value: "購入する", class: "submit-btn"}
  = render "/shared/sub-footer"