.sell-main
  %h2.sell-main__title.bolb
    商品の情報を入力
  = form_with model: @item, local: true, url: items_path, method: 'POST', class: 'sell-main__form' do |f|
    //商品画像、投稿エリア↓↓↓
    .sell-main__form__upload
      %h3.sell-main__form__upload__head.bolb
        出品画像
      %span.form-require
        必須
      %p
        最大10枚までアップロードできます
      //ファイルフィールド（画像アップロード）↓↓↓
      = f.label :images do
        .sell-main__form__upload__box
          ドラッグアンドドロップ
          %br
          またはクリックしてファイルをアップロード
          = f.file_field :images, multiple: true, class: 'file_field'
    .sell-main__form__content
      //商品名、入力エリア↓↓↓
      .sell-main__form__content__box-label--first
        %label.bolb
          商品名
        %span.form-require
          必須
      = f.text_field :item_name,
        placeholder: "商品名（必須 40文字まで)",
        autofocus: true, class: 'sell-main__form__content__text-field'
      - if @item.errors.full_messages_for(:item_name).any?
        = render partial: 'error-message', locals: { item: @item, column: "item_name" }
      //商品説明、入力エリア↓↓↓
      .sell-main__form__content__box-label
        %label.bolb
          商品の説明
        %span.form-require
          必須
      = f.text_area :explain,
          placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。",
          autofocus: true,
          class: 'sell-main__form__content__text-area'
      - if @item.errors.full_messages_for(:explain).any?
        = render partial: 'error-message', locals: { item: @item, column: "explain" }
    .sell-main__form__content.space-between
      %h3.sell-main__form__content__head.bolb
        商品の詳細
      .sell-main__form__content__right
        //カテゴリ、選択エリア↓↓↓
        .sell-main__form__content__form-label--first
          %label.bolb
            カテゴリー
          %span.form-require
            必須
        = f.select :category,
          [["レディース", "レディース"],
           ["メンズ", "メンズ"]],
          { prompt: "--" },
          { autofocus: 'true',
            class: "sell-main__form__content__select" }
        - if @item.errors.full_messages_for(:category).any?
          = render partial: 'error-message', locals: { item: @item, column: "category" }
        //サイズ、選択エリア↓↓↓
        .sell-main__form__content__form-label
          %label.bolb
            サイズ
          %span.form-require
            必須
        = f.select :size,
          [["S", "S"],
           ["M", "M"],
           ["L", "L"]],
          { prompt: "--" },
          { autofocus: 'true',
            class: "sell-main__form__content__select" }
        - if @item.errors.full_messages_for(:size).any?
          = render partial: 'error-message', locals: { item: @item, column: "size" }
        //ブランド、入力エリア↓↓↓
        .sell-main__form__content__form-label
          %label.bolb
            ブランド
          %span.form-arbitrary
            任意
        = f.text_field :brand,
            placeholder: "例）シャネル",
            autofocus: true, class: 'sell-main__form__content__select'
        //商品の状態、選択エリア↓↓↓
        .sell-main__form__content__form-label
          %label.bolb
            商品の状態
          %span.form-require
            必須
        = f.select :condition,
          [["新品、未使用", "新品、未使用"],
           ["未使用に近い", "未使用に近い"]],
          { prompt: "--" },
          { autofocus: 'true',
            class: "sell-main__form__content__select" }
        - if @item.errors.full_messages_for(:condition).any?
          = render partial: 'error-message', locals: { item: @item, column: "condition" }
    .sell-main__form__content.space-between
      %h3.sell-main__form__content__head.bolb
        配送について
        %span.form-question
          ?
      .sell-main__form__content__right
        //配送料の負担、選択エリア↓↓↓
        .sell-main__form__content__form-label--first
          %label.bolb
            配送料の負担
          %span.form-require
            必須
        = f.select :postage,
          [["送料込み(出品者負担)", "送料込み(出品者負担)"],
           ["着払い(購入者負担)", "着払い(購入者負担)"]],
          { prompt: "--" },
          { autofocus: 'true',
            class: "sell-main__form__content__select" }
        - if @item.errors.full_messages_for(:postage).any?
          = render partial: 'error-message', locals: { item: @item, column: "postage" }
        //発送の方法、選択エリア↓↓↓
        .sell-main__form__content__form-label
          %label.bolb
            発送の方法
          %span.form-require
            必須
        = f.select :shipping_method,
          [["未定", "未定"],
           ["らくらくメルカリ便", "らくらくメルカリ便"]],
          { prompt: "--" },
          { autofocus: 'true',
            class: "sell-main__form__content__select" }
        - if @item.errors.full_messages_for(:shipping_method).any?
          = render partial: 'error-message', locals: { item: @item, column: "shipping_method" }
        //発送元の地域、選択エリア↓↓↓
        .sell-main__form__content__form-label
          %label.bolb
            発送元の地域
          %span.form-require
            必須
        = f.collection_select :prefecture_id, Prefecture.all, :id, :name,
         { prompt: "--" },
         { class: 'sell-main__form__content__select' }
        - if @item.errors.full_messages_for(:prefecture_id).any?
          = render partial: 'error-message', locals: { item: @item, column: "prefecture_id" }
        //発送までの日数、選択エリア↓↓↓
        .sell-main__form__content__form-label
          %label.bolb
            発送までの日数
          %span.form-require
            必須
        = f.select :shipping_days,
         [["1~2日で発送", "1~2日で発送"],
          ["2~3日で発送", "2~3日で発送"],
          ["4~7日で発送", "4~7日で発送"]],
         { prompt: "--" },
         { autofocus: 'true',
           class: "sell-main__form__content__select" }
        - if @item.errors.full_messages_for(:shipping_days).any?
          = render partial: 'error-message', locals: { item: @item, column: "shipping_days" }

    .sell-main__form__content.space-between
      %h3.sell-main__form__content__head.bolb
        販売価格(300〜9,999,999)
        %span.form-question
          ?
      %ul.sell-main__form__content__right
        //配送料の負担エリア↓↓↓
        %li.sell-main__form__content__price-first.space-between
          .sell-main__form__content__price-first__label-input
            %label.bolb
              配送料の負担
            %span.form-require
              必須
          .sell-main__form__content__price-first__input
            ¥
            //入力エリア↓↓↓
            = f.text_field :price, placeholder: "例）300",
              autofocus: true,
              class: 'sell-main__form__content__price-first__text-field'
            - if @item.errors.full_messages_for(:price).any?
              = render partial: 'error-message', locals: { item: @item, column: "price" }
        //販売手数料エリア↓↓↓
        %li.sell-main__form__content__price.space-between
          .sell-main__form__content__price__label-fee
            %label
              販売手数料(10%)
          .sell-main__form__content__price__fee
            ー
        //販売利益エリア↓↓↓
        %li.sell-main__form__content__price.space-between.bolb
          .sell-main__form__content__price__label-profit
            %label
              販売利益
          .sell-main__form__content__price__profit
            ー
    .sell-main__form__content
      %p
        %a{ href:'#' }>禁止されている出品
        、
        %a{ href:'#' }>行為
        を必ずご確認ください。
      %p
        またブランド品でシリアルナンバー等がある場合はご記載ください。
        %a{ href:'#' }>偽ブランドの販売
        は犯罪であり処罰される可能性があります。
      %p
        また、出品をもちまして
        %a{ href:'#' }>加盟店規約
        に同意したことになります。
      .sell-main__form__content__box
        = f.hidden_field :trade_state, value: "出品中"
        = f.submit value: "出品する", class: 'submit-btn__go'
        = link_to :back, class: 'submit-btn__back' do
          もどる
