.top-page
  .header
    .header__content
      .header-up-content
        .header-up-content__logo
          = link_to image_tag('fmarket_logo_red.svg'), root_path
        .header-up-content__form
          = form_with url: '#', local: true do |f|
            = f.label :search do
              = f.text_field :search, name: "keyword", placeholder: "何かお探しですか？", type: "search", value: "", class: 'header-up-content__form-area'
              %i.fa.fa-search
      .header-bottom
        .left-header-bottom
          .left-header-bottom__category
            = link_to 'カテゴリーから探す', '#',class: "category_btn"
          .left-header-bottom__brand
            = link_to 'ブランドから探す', '#',class: "brand_btn"
        .right-header-bottom
          - if user_signed_in?
            .top-log-in
              = link_to 'マイページ', mypage_users_path, class: "top-log-in__logo"
          - else
            .top-new-sign-up-btn
              = link_to '新規登録', signup_index_path, method: :get, class: "top-new-sign-up-btn__logo"
            .top-log-in
              = link_to 'ログイン', new_user_session_path, class: "top-log-in__logo"
