.main-content
  .main-content__text-area
    .main-slide-show
      = link_to image_tag('top-banner1.jpg'), '#'
      //コンテンツ部分 スライドショーから
      .main-slide-show-list
    //いいね！した商品一覧
    .main-like-product
      .main-like-product__top
        .main-like-product-top-message
          いいね！した商品
        .main-like-product-all-link
          = link_to "すべて見る", "#"
      .main-like-bottom-product
        .main-like-bottom-product-image
          = link_to image_tag('likeimage1.jpg'),"#"
          .main-like-bottom-product-image__price
            ¥1,000
        .main-like-bottom-product-image__text
          ランプ
        .main-like-bottom-product-image
          = link_to image_tag('likeimage1.jpg'), '#'
          .main-like-bottom-product-image__price
            ¥1,000
        .main-like-bottom-product-image__text
          ランプ
        .main-like-bottom-product-image
          = link_to image_tag('mercarineko.jpg'), '#'
          .main-like-bottom-product-image__price
            ¥1,000,000
        .main-like-bottom-product-image
          = link_to image_tag('mercarineko.jpg'), '#'
          .main-like-bottom-product-image__price
            ¥1,000,000
    .main-popular-category-area
      .main-popular-category-area__message
        人気のカテゴリー
      .main-popular-category-area__tag
        %ul
          %li レディース
          %li メンズ
          %li 家電・スマホ・カメラ
          %li おもちゃ・ホビー・グッズ
    .ladies-new-items
      .popular-new-item__area
        .popular-new-item-top
          .ladies-new-item-top__left-text
            レディース新着アイテム
          .ladies-new-item-top__right-text
            = link_to "もっと見る", "#"
        .ladies-new-item-product
          %ul.ladies-new-item-product__list
            %li.ladies-new-item-product-list-item
              = link_to image_tag('mercarineko.jpg'), '#'
              .ladies-new-item-product-image__price
                ¥1,000
              .ladies-new-item-product-image__text
                ランプ
            %li.ladies-new-item-product-list-item
              = link_to image_tag('mercarineko.jpg'), '#'
              .ladies-new-item-product-image__price
                ¥1,000
              .ladies-new-item-product-image__text
                ランプ
            %li.ladies-new-item-product-list-item
              = link_to image_tag('mercarineko.jpg'), '#'
              .ladies-new-item-product-image__price
                ¥1,000
              .ladies-new-item-product-image__text
                ランプ
            %li.ladies-new-item-product-list-item
              = link_to image_tag('mercarineko.jpg'), '#'
              .ladies-new-item-product-image__price
                ¥1,000
              .ladies-new-item-product-image__text
                ランプ
    .mens-new-items
      .mens-new-items__area
        .mens-new-item__top
          .mens-new-item__top-left-text
            メンズ新着アイテム
          .mens-new-item__top-right-text
            = link_to "もっと見る", "#"
        .mens-new-item-product
          %ul.mens-new-item-product-list
            %li.mens-new-item-product-list-item
              = link_to image_tag('mercarineko.jpg'), '#'
            %li.mens-new-item-product-list-item
              = link_to image_tag('mercarineko.jpg'), '#'
            %li.mens-new-item-product-list-item
              = link_to image_tag('mercarineko.jpg'), '#'
            %li.mens-new-item-product-list-item
              = link_to image_tag('mercarineko.jpg'), '#'
.on-footer-image
  = image_tag "footer1.jpg"
  .on-footer-image__app
    .on-footer-image__top-text
      スマホで簡単フリマアプリ
    .on-footer-image__bottom-text
      今すぐ無料ダウンロード
    %br
    .on-footer-image__app-group
      .on-footer-image-mercari-logo
        = image_tag "mercari-logo-white.svg"
      .on-footer-image-app-logo
        = image_tag "appstore.svg"
      .on-footer-image__google-logo
        = image_tag "googleplay.svg"
  .on-footer-image__mercari-app-image
    = image_tag "download-app.png"
.top-seller-btn
  = link_to sell_items_path, class:"top-seller-btn-link" do
    出品
    %br
    = image_tag('camera2.png')
