.top-page
  .header
    .header__content
      .header-up-content
        .header-up-content__logo
          = link_to image_tag('fmarket_logo_red.svg'), '#'
        .header-up-content__form
          %input.header-up-content__form-area{ name: "keyword", placeholder: "何かお探しですか？", type: "search", value: "" }
            %a.header-up-content__form-btn
              %i.fa.fa-search
      .header-bottom
        .left-header-bottom
          .left-header-bottom__category
            = link_to 'カテゴリーから探す', '#',class: "category_btn"
          .left-header-bottom__brand
            = link_to 'ブランドから探す', '#',class: "brand_btn"
        .right-header-bottom
          .top-new-sign-up-btn
            = link_to '新規登録', signup_index_path, method: :get, class: "top-new-sign-up-btn__logo"
          .top-log-in
            = link_to 'ログイン', '#',class: "top-log-in__logo"
