.wrapper
  = render 'show/main_header'
  .mypage-wrapper
    = render "users/mypage-side-bar"
    .mypage-main
      %h2.chapter-head.bolb
        クレジットカード情報入力
      = form_with model: @card, url: pay_card_index_path, method: :post, name: 'inputForm', id: 'charge-form', class: 'card-form', novalidate: 'novalidate', local: true do |f|
        .card-form__content
          = f.label :card_num, class: 'bolb' do
            カード番号
          %span.form-necessary
            必須
          = f.text_field :card_number, id: 'card_number', placeholder: '半角数字のみ', maxlength: '19', class: 'input-text-field'
          = image_tag 'visa.svg', width: '49', height: '20'
          = image_tag 'master-card.svg', width: '34', height: '20'
          = image_tag 'saison-card.svg', width: '30', height: '20'
          = image_tag 'jcb.svg', width: '32', height: '20'
          = image_tag 'american_express.svg', width: '21', height: '20'
          = image_tag 'dinersclub.svg', width: '32', height: '20'
          = image_tag 'discover.svg', width: '32', height: '20'
        .card-form__content
          = f.label :month, class: 'bolb' do
            有効期限
          %span.form-necessary
            必須
          .card-form__content__division
            .select-wrap
              = icon 'fas', 'chevron-down', class: 'select-wrap__icon2'
              = f.select :exp_month, [["01",1], ["02",2], ["03",3], ["04",4], ["05",5], ["06",6], ["07",7], ["08",8], ["09",9], ["10",10], ["11",11], ["12",12]], {}, id: 'exp_month', class: 'select-credit'
              %span
                月
            .select-wrap
              = icon 'fas', 'chevron-down', class: 'select-wrap__icon2'
              = f.select :exp_year,[["19",2019], ["20",2020], ["21",2021], ["22",2022], ["23",2023], ["24",2024], ["25",2025], ["26",2026], ["27",2027], ["28",2028], ["29",2029]], {}, id: 'exp_year', class: 'select-credit'
              %span
                年
        .card-form__content
          = f.label :code, class: 'bolb' do
            セキュリティーコード
          %span.form-necessary
            必須
          = f.text_field :cvc, id: 'cvc', placeholder: 'カード背面4桁もしくは3桁の番号', maxlength: '4', class: 'input-text-field'
          #card_token
        .card-form__content
          = f.submit '追加する', id: 'token_submit', class: "submit-btn"
          %p.text-right
            = link_to "#" do
              = icon 'fas', 'question-circle'
              カード裏面の番号とは？
